@import "tailwindcss";

/* Buttons */
.button-primary {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.button-primary:hover {
  background-color: color-mix(in srgb, var(--color-foreground), #000 20%);
  border-color: color-mix(in srgb, var(--color-foreground), #000 20%);
  transition: all 200ms ease-in;
}

.button-secondary:hover {
  background-color: color-mix(in srgb, var(--color-background), #fff 20%);
  transition: all 200ms ease-in;
}

.button-primary,
.button-secondary {
  border: 1px solid var(--color-foreground);
  transition: all 200ms ease-in;
}
