@import "tailwindcss";

:root {
  --page-bg: #ffffff;
  --page-text-color: #1d1d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-marquee: marquee 60s linear infinite;
  --animate-marquee2: marquee2 60s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

body {
  color: var(--page-text-color);
  font-family: var(--font-xanh-mono), monospace;
}

button,
a {
  cursor: pointer;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
