@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --page-bg: #ffffff;
  --page-text-color: #171717;
  --document: #fefaa5;
  --document-2: #d4dcff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-document: var(--document);
  --color-document-2: var(--document-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
nav > * {
  font-family: var(--font-instrument-serif), serif;
}

body {
  color: var(--page-text-color);
}

a,
p,
li {
  font-family: Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

.font-cursive {
  font-family: var(--font-cursive), cursive;
}
